

header{ 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color:#fff;
    font-family: 'RocknRoll One', sans-serif;
    
    
    
}

a:hover {
  text-decoration: none;
  color: #CDDC39;
}
li:hover {
  color: #9E9E9E;
  text-shadow: 1px 1px 1px #9E9E9E;
}


header #logo img {
    float: left;
    width: 90px;
    left: 20px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px #000

}

header #logo img:hover {
  box-shadow: 1px 1px 10px #B06526
}

nav ul li {
    display:inline-block;
    font-size: 24px;
    text-transform: uppercase;
    color: #212121;
    right: 5%;
    padding: 7px;
    text-shadow: 1px 1px 1px #000;
    
    
}

.banner-header p {
  color: #CDDC39;
  text-align:center;
  position: relative;
  left: -35px;
  text-shadow: 3px 2px 5px #000
}

#sobre-mi {
  background: #212121;
  font-size: 24px;
  text-align: center;
  font-family: 'Akaya Kanadaka';
  
  
  
}
#sobre-mi p {
  color: white;
}

h3 {
  font-size: 72px;
  color:#212121;
  background: rgb(238, 238, 238);
  display:block;
  text-shadow: 3px 2px 3px #000;
  font-family: 'Akaya Kanadaka'
  
}

.fa-camera {
  position: relative;
  font-size: 32px;
  margin: 5px auto;
  left: -36px;
  color:white;
  background-color: #9E9E9E;
  border-radius: 100%;
  padding:5px;
}

.fa-camera:hover{
  color:rgb(238, 238, 238);
  background:#212121;
}


footer {
  text-align:center;
  background-color:  #212121;
  color: white;
}

footer a {
  color: red;
  text-decoration:none;
}

footer a:hover {
  color: white;
}

/* GALERIA DE IMAGENES */

.gallery-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap:10px;  
  padding: 5px;
}

.img-galeria{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:10px;
  box-shadow: 2px 2px 5px #000;
}
.gallery__item {
  position:relative
}
.gallery__title{
  position:absolute;
  bottom:0;
  left: 10px;
  font-size: 10px;
  color: white;
  background: #000;
}

.gallery__item:nth-child(3){
  grid-row-start: span 3;
}
.gallery__item:nth-child(2){
  grid-row-start: span 3;
  object-fit: cover;
}
.gallery__item:nth-child(4){
  grid-row-start: span 2;
}


.center {
  text-align:center;
  margin-top: 1%;
}

#Mis-trabajos a {
  display:inline-block;
  text-decoration: none;
  color: #212121;
  font-size: 72px;
  border-radius: 5%;
  position:relative;
  left: 40%;
  padding: 1%;

}
#Mis-trabajos a:hover{
  color: #9E9E9E;
}

#Mis-trabajos p {
  font-size: 26px;
  font-family:'RocknRoll One', sans-serif;
}

#formulario {
  background: #212121;
  color:white;
  height: 450px;
  width:100%;
}

#formulario h2 {
  font-size: 60px;
  text-align: center;
  font-family: 'Akaya Kanadaka';
  text-shadow: 5px 5px 5px #000;
  text-transform: uppercase;
  top: 42%;
  left: 5%;
  position: relative;
  
  
}

.form__container {
  width:100%;
  margin:0 auto;
  position:relative;
  padding: 10%;
  /* left: 40%; */
  bottom: 10%;
}

/* .icon-form {
  font-size:32px;
  text-align:center;
  position:relative;
  
  
} */




/* ACA ARRANCA EL SLIDER COPYANDPASTxdXDXD*/

.contenido-slider{
    margin: auto;
    background-color: #212121;
    width: 100%;
    padding: 30px;
    
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
ul.slider{
    position: relative;
    width: 100%;
    height: 320px;
    object-fit: cover;
    
  
}

@keyframes cambio {
  0% { margin-right: 0;}
  20% { margin-right: 0;}

  25% {margin-right: -100%;}
  45% {margin-right:-100%;}

  60% {margin-right: -200%;}
  70% {margin-right:-200%;}

  75% {margin-right: -200%;}
  100% {margin-right:-200%;}
}
  
  ul.slider li {
      position: absolute;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .2s;
      background:#212121;
      
      
  }
  
  ul.slider li img{
    width: 40%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #000;
    overflow:hidden;
    
    
  }

  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/ 
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 0 auto;
    
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
  
  .menu li a{
    display: inline-block;
    color: #212121;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 100%;
    height: 20px;
    font-size: 0px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
  }